.button {
    font-size: 13px;
    width: 150px;
    height: 40px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;

  }
  
  .primary {
    background-color: var(--primary);
    color: var(--color);
    border: 1px solid var(--primary);
  }
  
  .primary:hover {
    background-color: var(--color);
    color: var(--primary);
    border: 1px solid var(--primary);
  }
  
  .secondary {
    background-color: var(--color);
    color: var(--primary);
    border: 1px solid var(--primary);
  }
  
  .secondary:hover {
    background-color: var(--primary);
    color: var(--color);
    border: 1px solid var(--primary);
  }
  